.task__logo img {
  width: auto !important;
}

html {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: "MTS Sans";
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
}

@media screen and (min-width: 0) {
  .button {
    background: #DD0000;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    padding: 10px 30px;
    font-size: 16px;
    font-family: "MTS Sans";
    cursor: pointer;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-decoration: none;
    outline: none;
  }
  .button:hover {
    background: #C90000;
  }
  .title {
    font-size: 24px;
    line-height: 32px;
    margin: 0 auto;
    margin-bottom: 30px;
  }
  .main {
    -webkit-box-flex: 1;
        -ms-flex: 1 0 auto;
            flex: 1 0 auto;
    margin: 0 16px;
  }
  .block {
    padding: 30px;
    border: 1px solid #E2E5EB;
    border-radius: 8px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    display: block;
    cursor: pointer;
  }
  .block:hover {
    border: 1px solid #ffffff;
    -webkit-transition: all .5s ease;
    transition: all .5s ease;
    -webkit-box-shadow: 0px 8px 24px rgba(0, 0, 0, 0.08);
            box-shadow: 0px 8px 24px rgba(0, 0, 0, 0.08);
  }
  .header {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
  }
  .header__top {
    height: 56px;
    position: relative;
    -webkit-box-shadow: 0px 0px 6px rgba(110, 119, 130, 0.25);
            box-shadow: 0px 0px 6px rgba(110, 119, 130, 0.25);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 0 16px;
    position: relative;
    z-index: 1;
  }
  .header__left {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .header__right {
    display: none;
  }
  .header__mobile {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .header__avatar {
    border-radius: 50%;
    width: 32px;
    height: 32px;
  }
  .header__menu {
    margin-left: 24px;
    cursor: pointer;
  }
  .header__online {
    display: none;
  }
  .header__logo {
    color: #DD0000;
    text-decoration: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .header__logo img {
    width: 64px;
  }
  .header__descr {
    display: none;
  }
  .header__banner {
    background: #F2F3F7;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-bottom: 44px;
    position: relative;
  }
  .header__text {
    margin: 30px 16px;
    color: #001424;
  }
  .header__subtext {
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    margin-top: 0;
  }
  .header__title {
    font-weight: bold;
    font-size: 32px;
    line-height: 40px;
    text-transform: uppercase;
    margin-top: 10px;
    margin-bottom: 20px;
  }
  .header__image {
    margin: 0 45px;
    margin-bottom: -3px;
    -ms-flex-item-align: end;
        align-self: flex-end;
  }
  .header__image img {
    max-width: 100%;
  }
  .tabs__links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 30px;
  }
  .tabs__link {
    color: #6E7782;
    border: 1px solid #C4C4C4;
    min-width: 210px;
    max-width: 230px;
    text-align: center;
    padding: 7px 19px;
    border-radius: 20px;
    cursor: pointer;
    margin-bottom: 8px;
  }
  .tabs__link--active {
    color: #DD0000;
  }
  .tabs__link:hover {
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
    background: #C90000;
    color: #ffffff;
    border: 1px solid #C90000;
  }
  .task__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 30px;
    overflow: hidden;
    padding-bottom: 20px;
  }
  .task__block {
    min-width: 270px;
    max-width: 270px;
    height: 417px;
    margin: 0 4px;
    display: block;
    color: #001424;
    text-decoration: none;
  }
  .task__block:first-child {
    margin-left: 0;
  }
  .task__block:hover .task__more__button {
    background: #C90000;
    color: #ffffff;
    font-weight: 500;
    -webkit-transition: background .3s ease;
    transition: background .3s ease;
  }
  .task__logo {
    margin-top: -10px;
    margin-bottom: 20px;
    height: 30px;
  }
  .task__title {
    font-size: 24px;
    line-height: 28px;
    font-weight: 500;
    height: 60px;
  }
  .task__text {
    margin: 23px 0;
    color: #202D3D;
    font-size: 16px;
    line-height: 24px;
    height: 120px;
  }
  .task__proposal {
    height: 40px;
    font-size: 21px;
    line-height: 20px;
    font-weight: 500;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .task__tarif--big {
    font-size: 30px;
  }
  .task__tarif--very-big {
    font-size: 45px;
    padding: 0 5px;
  }
  .task__more {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 20px;
  }
  .task__more__button {
    width: 100%;
    padding: .5em 2em;
    margin-top: -3px;
    background: #E2E5EB;
    color: #001424;
  }
  .services__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 40px;
  }
  .services__block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    width: 100%;
    margin-bottom: 20px;
  }
  .services__title {
    margin-top: 20px;
    font-weight: 500;
  }
  .services__text {
    margin-bottom: 0;
  }
  .services__icon {
    -ms-flex-item-align: start;
        align-self: flex-start;
    min-width: 60px;
    height: 60px;
    margin-right: 15px;
  }
  .shopping__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: auto;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-bottom: 60px;
  }
  .shopping__list {
    list-style: none;
    padding: 0;
  }
  .shopping__list-item {
    padding-bottom: 24px;
    line-height: 24px;
    padding-left: 36px;
  }
  .shopping__list-item--case {
    background: url("../images/case-icon.svg") no-repeat top left;
    background-position-y: 2px;
  }
  .shopping__list-item--rub {
    background: url("../images/rub-icon.svg") no-repeat top left;
    background-position-y: 4px;
  }
  .shopping__list-item--bill {
    background: url("../images/bill-icon.svg") no-repeat top left;
    background-position-y: 6px;
  }
  .shopping__list-item--online {
    background: url("../images/online-icon.svg") no-repeat top left;
    background-position-y: 6px;
  }
  .shopping__list-item--number {
    background: url("../images/number-icon.svg") no-repeat top left;
    background-position-y: 2px;
  }
  .shopping__button {
    margin-left: 35px;
    font-size: 16px;
  }
  .shopping__image {
    display: none;
  }
  .footer {
    background: #ADB0B3;
    color: #ffffff;
  }
  .footer__wrapper {
    background: #ADB0B3;
    margin: auto;
    padding: 0 16px;
  }
  .footer__top {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 26px;
  }
  .footer__title {
    display: block;
    font-weight: 500;
    padding: 16px 0;
    width: 100%;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    cursor: pointer;
    background: url("../images/down-icon.svg") no-repeat right center;
    background-position-x: right;
  }
  .footer__text {
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 32px;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
  }
  .footer__text-title {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 20px;
    display: block;
  }
  .footer__copyright {
    margin-top: 40px;
    font-size: 13px;
    background: #ffffff;
    color: #001424;
    padding: 16px;
    margin: 0 -16px;
  }
  .footer__links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    font-size: 12px;
  }
  .footer__links-wrapper {
    display: none;
  }
  .footer__links-block {
    width: 100%;
  }
  .footer__link {
    display: block;
    margin-bottom: 16px;
    color: #ffffff;
    text-decoration: none;
  }
  .footer__link:hover {
    -webkit-transition: color .3s ease;
    transition: color .3s ease;
    color: #C90000;
  }
}

@media screen and (min-width: 768px) {
  .title {
    font-weight: bold;
    font-size: 32px;
    line-height: 40px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 30px;
    width: 450px;
  }
  .main {
    margin: 0 32px;
  }
  .header {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
  }
  .header__top {
    padding: 0 32px;
  }
  .header__logo img {
    width: 75px;
  }
  .header__avatar {
    width: 40px;
    height: 40px;
  }
  .header__menu {
    margin-left: 32px;
  }
  .header__banner {
    height: 400px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .header__text {
    margin: 54px 32px;
  }
  .header__subtext {
    font-size: 20px;
    line-height: 28px;
    width: 500px;
  }
  .header__title {
    font-size: 32px;
    line-height: 40px;
    margin-bottom: 60px;
    position: relative;
    z-index: 1;
  }
  .header__button {
    font-size: 21px;
  }
  .header__image {
    margin: 0 45px 0 0;
    max-width: 350px;
    position: absolute;
    right: 0;
    bottom: -3px;
  }
  .tabs__links {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: auto;
    width: 680px;
    margin-bottom: 30px;
  }
  .tabs__link {
    margin: 0 5px 10px 5px;
  }
  .task__wrapper {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .task__block {
    min-width: 276px;
    max-width: 276px;
    margin: 0 8px;
  }
  .services__wrapper {
    margin: 0 -16px 60px -16px;
  }
  .services__title {
    margin-top: 0;
  }
  .services__block {
    margin: 0 16px 32px 16px;
    width: calc(50% - 32px);
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .services__icon {
    margin: 0 15px;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  .shopping__button {
    font-size: 21px;
  }
  .footer__top {
    margin: 50px 32px 0 32px;
  }
  .footer__title {
    background: none;
    cursor: default;
  }
  .footer__links-block {
    width: 33%;
  }
  .footer__links-wrapper {
    display: block;
  }
  .footer__copyright {
    background: #ADB0B3;
    color: #ffffff;
    padding: 16px 32px 40px 32px;
    margin: 0;
  }
}

@media screen and (min-width: 1024px) {
  .main {
    margin: 0 84px;
  }
  .title {
    margin-bottom: 50px;
  }
  .header__top {
    height: 72px;
    padding: 0 84px;
  }
  .header__online {
    margin-left: 72px;
    color: #001424;
    text-decoration: none;
    display: block;
  }
  .header__online:hover {
    text-decoration: underline;
  }
  .header__descr {
    padding-left: 8px;
    font-size: 20px;
    display: block;
  }
  .header__banner {
    height: 450px;
    margin-bottom: 100px;
  }
  .header__text {
    margin: 75px 0 0 70px;
  }
  .header__title {
    font-size: 50px;
    line-height: 55px;
    margin-bottom: 50px;
  }
  .header__subtext {
    font-size: 24px;
    line-height: 32px;
    width: 580px;
  }
  .header__mobile {
    display: none;
  }
  .header__right {
    display: block;
  }
  .header__image {
    max-width: 470px;
  }
  .tabs__links {
    width: 100%;
    margin-bottom: 20px;
  }
  .tabs__link {
    margin: 0 6px 12px 6px;
  }
  .task__wrapper {
    margin-bottom: 100px;
    overflow: hidden;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .task__block {
    margin: 0 16px;
  }
  .services__block {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .shopping__right {
    width: 100%;
    padding-left: 50px;
  }
  .shopping__image {
    display: block;
    max-width: 100%;
    margin-top: -10px;
  }
}

@media screen and (min-width: 1368px) {
  .main {
    margin: auto;
    width: 1368px;
    overflow: hidden;
  }
  .task__wrapper {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .services__block {
    width: 584px;
  }
  .shopping__wrapper {
    width: calc(1368px - 178px);
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .footer__top {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin: 60px auto 0 auto;
    width: calc(1368px - 178px);
  }
  .footer__text {
    width: 200px;
    margin-right: 80px;
    font-size: 14px;
    line-height: 20px;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
  }
  .footer__title {
    padding: 0;
    margin-bottom: 24px;
  }
  .footer__links {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    width: 100%;
  }
  .footer__links-block {
    width: 20%;
  }
  .footer__copyright {
    width: calc(1368px - 178px);
    margin: auto;
  }
}
/*# sourceMappingURL=styles.css.map */