$banner_bg: #F2F3F7;
$light_grey: #E2E5EB;
$dark_grey: #ADB0B3;
$tabs_color: #6E7782;
$red: #DD0000;
$button_hover: #C90000;
$grey: #C4C4C4;
$white: #ffffff;
$black: #001424;
$text_color: #202D3D;